/* GENERAL STYLING FOR ALL PAGES */

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* END OF STYLING FOR ALL PAGES */

/* STYLING FOR THE MENU / NAVIGATION AND LOGOUT BUTTON */

a, button {
    cursor: pointer;   
}

a {
    text-decoration: none;
    color: #fff;
}

.logout {
    position: fixed;
    right: 2%;
    top: 2%;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    background: #f75050;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}

.logout:hover {
    padding: 12px 17px;
    font-size: 15px;
    box-shadow: 10px 5px 5px red;
    transition: 0.3s;
}

nav {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}

.navigation {
    position: fixed;
    left: -500px;
    width: 350px;
    height: 100%;
    background-color: #4aca00;
    transition: .5s;
}

.navigation ul li {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    list-style: none;
    font-size: 1.5em;
    padding: 20px 30px;
    border-bottom: 1px solid #252525;
}

.hamburger, #linje1, #linje2, #linje3 {
    position: fixed;
}

.hamburger {
    display: block;
    top: 5%;
    left:2%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.hamburger:hover {
    width: 32px;
    height: 32px;
    transition: 0.3s;
}

#linje1, #linje2, #linje3 {
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#linje2 {
    top: 11px;
}

#linje3 {
    top: 19px;
}

.active {
    left: 0px;
}

.hamburger.open #linje1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #linje2{
    background-color: transparent;
}

.hamburger.open #linje3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}

.navigation.selected1 .option1 a {
    color: #000;
}

.navigation.selected2 .option2 a {
    color: #000;
}

.navigation.selected3 .option3 a {
    color: #000;
}

.navigation.selected4 .option4 a {
    color: #000;
}

/* END OF STYLING FOR MENU / NAVIGATION */

/* STYLING FOR THE LOGIN PAGE */
    
#loginPage {
    background-color: #80ce53;
}

#login{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 13%;
    padding-bottom: 30px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

#login h1 {
    margin-left: 45%;
    padding-bottom: 50px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
            
/* Set a style for all buttons */
.loginBtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
}
            
.loginBtn:hover {
    opacity: 0.8;
}
                  
.container {
    padding: 16px;
}
            
span.psw {
    float: left;
    padding-top: 16px;
}

span.create{
    float: right;
    padding-top: 16px;
}

.psw {
    margin-top: 20px;
}

.create {
    margin-top: 20px;
}

/* END OF STYLING FOR LOGIN PAGE */